In [1]:
import pandas as pd

In [4]:
s = pd.Series(list('asdbasfsafdasfafssfagdj'))
s

0     a
1     s
2     d
3     b
4     a
5     s
6     f
7     s
8     a
9     f
10    d
11    a
12    s
13    f
14    a
15    f
16    s
17    s
18    f
19    a
20    g
21    d
22    j
dtype: object

In [5]:
s.unique()

array(['a', 's', 'd', 'b', 'f', 'g', 'j'], dtype=object)

In [6]:
s.value_counts()

a    6
s    6
f    5
d    3
b    1
g    1
j    1
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64